body {
  margin: 0;
  padding: 0;
  background: rgb(51, 51, 51); /* Override by OBS */
  font-family: sans-serif;
  color: white;
  overflow: hidden;
  font-family: "IBM Plex Mono", monospace;
}
h2 {
	margin: 0 0 4px 0;
	font-size: 22px;
}

#legend-wrapper {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 6px;
	width: 500px;
	height: 300px;
	background: rgba(0, 0, 0, 0.5);
	padding: 20px;
	border-radius: 5px;
}
.legend-line {
	display: flex;
	justify-content: space-between;
	border-top: solid 1px rgba(255, 255, 255, 0.2);
	border-left: solid 1px rgba(255, 255, 255, 0.2);
	padding: 6px 0 0 20px;
	font-size: 20px;
}
.legend-line div {
	/*max-width: 50%;*/
}
.command-name {
	text-align: left;
}
.command-value {
	font-weight: bold;
	text-align: right;
}