@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-Bold.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-ExtraLight.woff') format('woff');
    font-weight: 200;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-Italic.woff') format('woff');
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-Light.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-Medium.woff') format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-Regular.woff') format('woff');
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-SemiBold.woff') format('woff');
    font-weight: 600;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}